<a href="https://colab.research.google.com/github/Nik8x/Code_comparison/blob/master/Python/Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries and lists share the following characteristics:

1. Both are mutable.

2. Both are dynamic. They can grow and shrink as needed.

3. Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

1. List elements are accessed by their position in the list, via indexing.

2. Dictionary elements are accessed via keys.

Dictionaries are Pythonâ€™s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value

In [0]:
# d = {
#     <key>: <value>,
#     <key>: <value>,
#       .
#       .
#       .
#     <key>: <value>
# }

# or

# d = dict([
#     (<key>, <value>),
#     (<key>, <value),
#       .
#       .
#       .
#     (<key>, <value>)
# ])

In [0]:
pm  = {'Mercury' : 0,
      'Venus' : 0,
      'Earth' : 1,
      'Mars' : 2,
      'Jupiter' : 68,
      'Saturday' : 64}

## or

pm  = dict([
    ('Mercury', 0),
    ('Venus', 0),
    ('Earth', 1),
    ('Mars', 2),
    ('Jupiter', 68),
    ('Saturn', 64)
])

## or

pm  = dict(
    Mercury = 0,
    Venus = 0,
    Earth = 1,
    Mars = 2,
    Jupiter = 68,
    Saturn =  64
)

In [0]:
print(type(pm))
pm

<class 'dict'>

{'Earth': 1, 'Jupiter': 68, 'Mars': 2, 'Mercury': 0, 'Saturn': 64, 'Venus': 0}

In [0]:
print("The moons of mars are:", pm['Mars'])

The moons of mars are: 2

In [0]:
pm[0]

# Dictionary elements are not accessed by numerical index

KeyError: ignored

In [0]:
pm['Mars'], pm['Jupiter']  # A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([])

(2, 68)

In [0]:
pm['Pluto']  # if you refer to a key that is not in the dictionary, Python raises an error

KeyError: ignored

In [0]:
# Adding an entry to an existing dictionary is simply a matter of assigning a new key 
pm['Uranus'] = 20

In [0]:
pm

{'Ear': 1, 'Jup': 68, 'Mar': 2, 'Mer': 0, 'Sat': 64, 'Uranus': 20, 'Ven': 0}

In [0]:
# If you want to update an entry, you can just assign a new value to an existing key
pm['Jupiter'] = 72

In [0]:
# To delete an entry, use the del statement, specifying the key to delete
del pm['Uranus']
pm

{'Ear': 1, 'Jup': 72, 'Mar': 2, 'Mer': 0, 'Sat': 64, 'Ven': 0}

In [0]:
# you can use integers
d = {0: 'a', 1: 'b', 2: 'c', 3: 'd'}

print(d[0])
print(d[1])

a
b

In [0]:
# you canâ€™t treat a dictionary like a list
d[-1]

KeyError: ignored

In [0]:
d[0:2]

TypeError: ignored

In [0]:
d.append('e')

AttributeError: ignored

In [0]:
# You can start by creating an empty dictionary, which is specified by empty curly braces. 
# Then you can add new keys and values one at a time

In [0]:
person = {}

person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'age': 51,
 'children': ['Ralph', 'Betty', 'Joey'],
 'fname': 'Joe',
 'lname': 'Fonebone',
 'pets': {'cat': 'Sox', 'dog': 'Fido'},
 'spouse': 'Edna'}

In [0]:
print(person['fname'])
print(person['age'])
print(person['children'])

Joe
51
['Ralph', 'Betty', 'Joey']

In [0]:
person['children'][-1]

'Joey'

In [0]:
person['pets']['cat']

'Sox'

In [0]:
# Just as the values in a dictionary donâ€™t need to be of the same type, the keys donâ€™t either
a = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}
a

{True: 'ccc', 2.78: 'bbb', 42: 'aaa'}

In [0]:
print(a[42], a[2.78], a[True])

aaa bbb ccc

In [0]:
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
d

{0: 'a', 1: 'a', 2: 'a', 3: 'a'}

In [0]:
d[0] == d[1] == d[2]

True

In [0]:
# the in and not in operators return True or False according to whether the specified operand occurs as a key in the dictionary
'Mars' in pm, 'Pluto' not in pm, 'Cucumber' in pm

(True, True, False)