<a href="https://colab.research.google.com/github/Nik8x/Code_comparison/blob/master/Python/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
nums = list(range(5))     # range is a built-in function that creates a list of integers
print(nums)               # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:-1])          # Slice indices can be negative; prints "[0, 1, 2, 3]"
nums[2:4] = [8, 9]        # Assign a new sublist to a slice
print(nums)               # Prints "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [0]:
fruits = ['apple', 'mango', 'banana', 'orange', 'grapes']
print(fruits)

['apple', 'mango', 'banana', 'orange', 'grapes']

In [0]:
fruits[1], fruits[-4] # to start counting from end start with -1

('mango', 'mango')

In [0]:
fruits[4], fruits[-1]

('grapes', 'grapes')

In [0]:
fruits[4][1] # to print r in grapes in fruits list

'r'

In [0]:
fruits[1 : 3] # print slice from 1 poition till 3rd position not including 3rd poition content

['mango', 'banana']

In [0]:
fruits[0 : 3]

['apple', 'mango', 'banana']

In [0]:
fruits[0 : -1] # slicing till the last one, not including the last one

['apple', 'mango', 'banana', 'orange']

In [0]:
fruits[1 : -1]

['mango', 'banana', 'orange']

In [0]:
fruits[0::2] # jump using two ::
# we are jumping two places

['apple', 'banana', 'grapes']

In [0]:
fruits[0::4]

['apple', 'grapes']

In [0]:
fruits[::-1] # invert the list

['grapes', 'orange', 'banana', 'mango', 'apple']

In [0]:
mixed_list = [1, 'one', 2, 'two', 3, 'three', 4.5, 'four point five', True] 
# combining strings and int and floats and booleans
mixed_list

[1, 'one', 2, 'two', 3, 'three', 4.5, 'four point five', True]

In [0]:
len(mixed_list) # to return the length of contents in list

9

In [0]:
# a list can take mixed data types

In [0]:
type(mixed_list) # type with return type

list

In [0]:
type(mixed_list[2]), type(mixed_list[1]), type(mixed_list[6]), type(mixed_list[8])

(int, str, float, bool)

In [0]:
len(mixed_list[7]), len(mixed_list[5]) # len will return the lenth of string here

(15, 5)

In [0]:
len(mixed_list[6])

TypeError: object of type 'float' has no len()

In [0]:
len(mixed_list[0])

TypeError: object of type 'int' has no len()

In [0]:
len(mixed_list[8])

TypeError: object of type 'bool' has no len()

In [0]:
# object of type 'int', 'float', 'bool' has no len()

In [0]:
fruits = ['apple', 'mango', 'banana', 'orange', 'grapes']
vegetables = ['carrots', 'brocolli', 'spinach', 'cucumber']

In [0]:
# I want to combine fruits and vegetables in a list groceries

In [0]:
groceries = fruits + vegetables

In [0]:
groceries

['apple',
 'mango',
 'banana',
 'orange',
 'grapes',
 'carrots',
 'brocolli',
 'spinach',
 'cucumber']

In [0]:
groceries[5]

'carrots'

In [0]:
fruits, vegetables

(['apple', 'mango', 'banana', 'orange', 'grapes'],
 ['carrots', 'brocolli', 'spinach', 'cucumber'])

In [0]:
# let's see the function for list called append

In [0]:
fruits.append(vegetables)

In [0]:
fruits

['apple',
 'mango',
 'banana',
 'orange',
 'grapes',
 ['carrots', 'brocolli', 'spinach', 'cucumber']]

In [0]:
fruits[5]

['carrots', 'brocolli', 'spinach', 'cucumber']

In [0]:
vegetables

['carrots', 'brocolli', 'spinach', 'cucumber']

In [0]:
# confused? go down

In [0]:
planets_t = [] # making an empty list 't = terrestrial'

In [0]:
planets_t

[]

In [0]:
planets_t.append('mercury') # mercury is going to be added to the list

In [0]:
planets_t

['mercury']

In [0]:
planets_t.append('venus') # adding venus to list planets in the end

In [0]:
planets_t

['mercury', 'venus']

In [0]:
planets_t.append('earth')

In [0]:
planets_t

['mercury', 'venus', 'earth']

In [0]:
planets_t.append('mars')

In [0]:
planets_t

['mercury', 'venus', 'earth', 'mars']

In [0]:
planets_g = [] # 'g = gas giants'

In [0]:
planets_g.append('jupyter')

In [0]:
planets_g

['jupyter']

In [0]:
planets_g.append('saturn')

In [0]:
planets_g

['jupyter', 'saturn']

In [0]:
planets_i = [] # 'i = ice giants'

In [0]:
planets_i.append('uranus')

In [0]:
planets_i

['uranus']

In [0]:
planets_i.append('neptune')

In [0]:
planets_i

['uranus', 'neptune']

In [0]:
print(planets_t)
print(planets_g)
print(planets_i)

['mercury', 'venus', 'earth', 'mars']
['jupyter', 'saturn']
['uranus', 'neptune']

In [0]:
solar_system = planets_t + planets_g + planets_i
solar_system

['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn', 'uranus', 'neptune']

In [0]:
planets_t_1 = planets_t # putting the contents of planets_t into planets_t_!

In [0]:
planets_t_1

['mercury', 'venus', 'earth', 'mars']

In [0]:
planets_t_1.append(planets_g)

In [0]:
planets_t_1.append(planets_i)

In [0]:
planets_t_1

['mercury',
 'venus',
 'earth',
 'mars',
 ['jupyter', 'saturn'],
 ['uranus', 'neptune']]

In [0]:
planets_t # even planets_t is being affected 
# because both lists are same
# i.e. they are occupying the same memory space in the computer, 
# their address is same

['mercury',
 'venus',
 'earth',
 'mars',
 ['jupyter', 'saturn'],
 ['uranus', 'neptune']]

In [0]:
 # append is only taking one thing at a time, one string, one number or one list!

In [0]:
planets_g_1 = planets_g

In [0]:
planets_g_1

['jupyter', 'saturn']

In [0]:
planets_g_1.extend(planets_i)

In [0]:
planets_g_1

['jupyter', 'saturn', 'uranus', 'neptune']

In [0]:
# extend will properly add contents to the original list, not the whole list as in append function
# extend can take multiple contents at a time

In [0]:
planets_g # also planet_g is being affected

['jupyter', 'saturn', 'uranus', 'neptune']

In [0]:
# to combine multiple list best function to use is extend

In [0]:
# to add a content to the list append is better

In [0]:
planets_g == planets_g_1 # boolean condition to check their equality

True

In [0]:
p_list = ['jupyter', 'saturn', 'uranus', 'neptune'] # making a new list

In [0]:
p_list == planets_g # comparing old list with same contents with new list

True

In [0]:
# it's true because their content is same

In [0]:
p_list.pop() # pop function removes the last content from the list

'neptune'

In [0]:
p_list.pop()

'uranus'

In [0]:
p_list

['jupyter', 'saturn']

In [0]:
p_list.remove('jupyter') # removes the exact content that we want from the list

In [0]:
p_list # now our list only has saturn :p

['saturn']

In [0]:
# let's try to remove more than one content from solar_system

In [0]:
solar_system

['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn', 'uranus', 'neptune']

In [0]:
solar_system.remove('mercury', 'jupyter', 'uranus')

TypeError: remove() takes exactly one argument (3 given)

In [0]:
solar_system.remove(['mercury', 'jupyter', 'uranus'])

ValueError: list.remove(x): x not in list

In [0]:
# so we can only remove one thing at a time from list using remove

In [0]:
solar_system.reverse() # reverse function will reverse everything in the list

In [0]:
solar_system

['neptune', 'uranus', 'saturn', 'jupyter', 'mars', 'earth', 'venus', 'mercury']

In [0]:
solar_system.index('saturn'), solar_system.index('earth')
# index function returns the index location of our content

(2, 5)

In [0]:
solar_system.insert(0, 'pluto')
# inserting pluto in 0 index position

In [0]:
solar_system

['pluto',
 'neptune',
 'uranus',
 'saturn',
 'jupyter',
 'mars',
 'earth',
 'venus',
 'mercury']

In [0]:
solar_system.insert(5, 'ceres')
# insert ceres in index position 5

In [0]:
solar_system

['pluto',
 'neptune',
 'uranus',
 'saturn',
 'jupyter',
 'ceres',
 'mars',
 'earth',
 'venus',
 'mercury']

In [0]:
solar_system.sort()
# to sort our list in ascending oe=rder

In [0]:
solar_system
# sorted list in ascending alphabetical order

['ceres',
 'earth',
 'jupyter',
 'mars',
 'mercury',
 'neptune',
 'pluto',
 'saturn',
 'uranus',
 'venus']

In [0]:
solar_system.sort(reverse = True)
# to sort in descending order give reverse = True as an argument to sort()

In [0]:
solar_system

['venus',
 'uranus',
 'saturn',
 'pluto',
 'neptune',
 'mercury',
 'mars',
 'jupyter',
 'earth',
 'ceres']

In [0]:
solar_system_1 = solar_system.copy()
# to copy the content from one list to other list but in a different memory in computer

In [0]:
solar_system_1.append(fruits)

In [0]:
solar_system_1

['venus',
 'uranus',
 'saturn',
 'pluto',
 'neptune',
 'mercury',
 'mars',
 'jupyter',
 'earth',
 'ceres',
 ['apple',
  'mango',
  'banana',
  'orange',
  'grapes',
  ['carrots', 'brocolli', 'spinach', 'cucumber']]]

In [0]:
solar_system

['venus',
 'uranus',
 'saturn',
 'pluto',
 'neptune',
 'mercury',
 'mars',
 'jupyter',
 'earth',
 'ceres']

In [0]:
solar_system_2 = solar_system.copy()

In [0]:
solar_system == solar_system_2 # check whether they are same

True

In [0]:
solar_system is solar_system_2 # they do not refer to the same object

False

In [0]:
solar_system[0] = 'sun'
# replacing venus with sun at first position
# instead of removing and inserting, directly replace the content

In [0]:
solar_system

['sun',
 'uranus',
 'saturn',
 'pluto',
 'neptune',
 'mercury',
 'mars',
 'jupyter',
 'earth',
 'ceres']

In [0]:
solar_system_3 = ['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn', 'uranus', 'neptune']

In [0]:
'sun' in solar_system_3

False

In [0]:
'earth' in solar_system_3 # to check whether the content is in the list or not

True

In [0]:
solar_system_3['earth' in solar_system_3] # becasue ''earth' in solar_system_3' is True which is 1, and
# solar_system[1] is venus

'venus'

In [0]:
solar_system_3['sun' in solar_system_3] # becasue ''sun' in solar_system_3' is False which is 0, and
# solar_system[1] is mercury

'mercury'

In [0]:
fruits = ['apple', 'mango', 'banana', 'orange', 'grapes']
other_fruits = fruits                 # Point other_fruits at what fruits is pointing to
print(other_fruits is fruits)         # => True, fruits and other_fruits refer to the same object
print(other_fruits == fruits)         # => True, fruits's and other_fruits's objects are equal

other_fruits = ['apple', 'mango', 'banana', 'orange', 'grapes']  # Point other_fruits at a new list, ['apple', 'mango', 'banana', 'orange', 'grapes']
print(other_fruits is fruits)             # => False, fruits and other_fruits do not refer to the same object
print(other_fruits == fruits)            # => True, fruits's and other_fruits's objects are equal

True
True
False
True

In [0]:
# we saw few functions: 
# append
# extend
# insert
# remove
# pop
# reverse
# index
# sort

In [0]:
# Loops

In [0]:
for value in [1, 2, 3, 4]:  # the keyword value we defined will look in the list,
  # will pick the values from list
  print(value) # and print it one by one untill all values are printed

1
2
3
4

In [0]:
for i in [1, 2, 3, 4]:
  print(i) # the iteration continues till last value is printed

1
2
3
4

In [0]:
for i in solar_system_3:
  print(i)

mercury
venus
earth
mars
jupyter
saturn
uranus
neptune

In [0]:
print(' The planet name is: ', solar_system_3[0])

 The planet name is:  mercury

In [0]:
for i in solar_system_3:
  print(' The planet name is: ', i)

 The planet name is:  mercury
 The planet name is:  venus
 The planet name is:  earth
 The planet name is:  mars
 The planet name is:  jupyter
 The planet name is:  saturn
 The planet name is:  uranus
 The planet name is:  neptune

In [0]:
for i in solar_system_3[0:4]: # printing top 4 only
  print(i)

mercury
venus
earth
mars

In [0]:
for i in solar_system_3[0::2]: # jump to second position
  print(i)

mercury
earth
jupyter
uranus

In [0]:
# I want to print earth and uranus, index position 2 and 6
for i in solar_system_3[2::4]:
  print(i)

earth
uranus

In [0]:
for i in solar_system_3:
    print(i[0])

m
v
e
m
j
s
u
n

In [0]:
for i in solar_system_3[0]:
    print(i)

m
e
r
c
u
r
y

In [0]:
for i in solar_system_3:
    print("the planet is ", i)

the planet is  mercury
the planet is  venus
the planet is  earth
the planet is  mars
the planet is  jupyter
the planet is  saturn
the planet is  uranus
the planet is  neptune

In [0]:
for i, j in enumerate(solar_system_3):
    print("the" , i + 1, " planet is ", j)

the 1  planet is  mercury
the 2  planet is  venus
the 3  planet is  earth
the 4  planet is  mars
the 5  planet is  jupyter
the 6  planet is  saturn
the 7  planet is  uranus
the 8  planet is  neptune

In [0]:
# Function

In [0]:
mon =[]  # make empty lists to store the values of our return
dat = []
ye = []

def dob():   # a function which asks for the dob and prints out in  a proper format
    m = input("Month you were born: ")
    d = input("Date you were born: ")
    y = input("Year you were born: ")
    
    print('mm/dd/yyyy: ', m, '/', d, '/', y)
    
    return m, d, y

In [0]:
for i in range(3):
    month, date, year = dob()
    mon.append(month)
    dat.append(date)
    ye.append(year)

Month you were born: 10
Date you were born: 23
Year you were born: 1994
mm/dd/yyyy:  10 / 23 / 1994
Month you were born: 10
Date you were born: 30
Year you were born: 1990
mm/dd/yyyy:  10 / 30 / 1990
Month you were born: 5
Date you were born: 15
Year you were born: 1974
mm/dd/yyyy:  5 / 15 / 1974

In [0]:
print(mon)
print(dat)
print(ye)

['10', '10', '5']
['23', '30', '15']
['1994', '1990', '1974']

**List Methods**

Append()	Add an element to the end of the list

Extend()	Add all elements of a list to the another list

Insert()	Insert an item at the defined index

Remove()	Removes an item from the list

Pop()	Removes and returns an element at the given index

Clear()	Removes all items from the list

Index()	Returns the index of the first matched item

Count()	Returns the count of number of items passed as an argument

Sort()	Sort items in a list in ascending order

Reverse()	Reverse the order of items in the list

copy()	Returns a copy of the list


**Built-in functions with List**

round()	Rounds off to the given number of digits and returns the floating point number

reduce()	apply a particular function passed in its argument to all of the list elements stores the intermediate 

result and only returns the final summation value

sum()	Sums up the numbers in the list

ord()	Returns an integer representing the Unicode code point of the given Unicode character

cmp()	This function returns 1, if first list is greater than second list

max()	return maximum element of given list

min()	return minimum element of given list

all()	Returns true if all element are true or if list is empty

any()	return true if any element of the list is true. if list is empty, return false

len()	Returns length of the list or size of the list

enumerate()	Returns enumerate object of list

accumulate()	apply a particular function passed in its argument to all of the list elements returns a list 
containing the intermediate results

filter()	tests if each element of a list true or not

map()	returns a list of the results after applying the given function to each item of a given iterable

lambda()	This function can have any number of arguments but only one expression, which is evaluated and returned.